body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cards {
  height: 1000px;
  width: 2000px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(155, 40, 173, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  /* height: 400px;
  width: 300px; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  /* filter: contrast(70%); */
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}
.card-image-container {
  height: 300px;
  width: 250px;
}
.card__image:hover{
  filter: contrast(100%);
}
.card__title {
  color: #4a3355;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card__detail, .win_input_box, .loss_input_box, .card_text p {
  flex: 1 1 auto;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 4rem;
}
.card__detail {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}
.card__detail p {
  text-align: center;
}
.card__detail button{
  text-align: center;
}
/* @media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
} */
.box_bar {
  position: center;
}
.add_a_student_button {
  width:200px;
  padding: 5px;
  background-color: pink
}

.name_input_box {
  width: 150px;
  padding: 3px;
  position: center;
}
.image_input_box {
  width: 150px;
  padding: 3px;
  position: center;
}
.age_input_box {
  width: 100px;
  padding: 3px;
  position: relative;
}
.location_input_box {
  width: 150px;
  padding: 3px;
  position: relative;
}
.win_input_box {
  width: 150px;
  padding: 3px;
  position: relative;
}
.loss_input_box {
  width: 150px;
  padding: 3px;
  position: relative;
}
.feelings_input_box {
  width: 200px;
  /* height: 200px; */
  padding: 3px;
  position: relative;
}
.searchbar {
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
}

.home_button {
  height: 29px;
  width: 200px;
  background-color: rgb(248, 135, 154)
}

.student_search_button {
  height: 29px;
  width: 200px;
  background-color:rgb(251, 208, 215)
}